body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    text-align: left;
}

h1 {
    margin: 0;
}

header a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    justify-content: flex-end;
    transition: 0.3s;
}

header a:hover {
    color: #ff6347;
}

.hero{
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

section {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja {
  width: 100px;
  height: 100px;
  background: tomato;

  animation: mover 2s infinite alternate;
}

@keyframes mover {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(300px);
  }
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header a {
        margin: 10px 0;
    }
}